/**
 * @brief Define media queries breakpoints
 * here.
 */
$small-screen: 480px;
$tablet-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1200px;

/**
 * @brief Specifu mixins for different modes.
 */
@mixin mobile() {
	@media only screen and ( max-width: $small-screen ) {
		@content;
	}
}

@mixin mobile-and-tablet() {
	@media only screen and( max-width: $tablet-screen ) {
		@content;
	}
}

@mixin tablet() {
	@media only screen and ( min-width: $small-screen + 1 ) and ( max-width: $tablet-screen ) {
		@content;
	}
}

@mixin tablet-and-medium() {
	@media only screen and ( max-width: $medium-screen ) {
		@content;
	}
}

@mixin medium() {
	@media only screen and ( min-width: $tablet-screen + 1 ) and ( max-width: $medium-screen ) {
		@content;
	}
}

@mixin medium-and-large() {
	@media only screen and ( min-width: $medium-screen + 1 ) and ( max-width: $large-screen ) {
		@content;
	}
}
